*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: black;
    color: white;
}


.logo{
    height: 20px;
}

#logo sup{
    font-size: 10px;
    color: rgb(160, 157, 157);
    position: absolute;
    margin-left: 5px;
    margin-right: 10px;
}

header{
    display: flex;
    margin-top: 10px;
    margin-left: 20px;
    align-items: center;
    justify-content: flex-start;
}

.menu_logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu{
    margin-right: 15px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    position: relative;
    
}

.menu span{
    color: rgb(197, 190, 190);
    font-size: 26px;
    position: absolute;
    top: 19%;
    left: 18%;
    
}

.menu:hover{
    background-color: rgba(44, 42, 42, 1.0);
    border-radius: 50%;
}

.sticky{
    position: fixed;
    top: 0;
    z-index: 9999; 
    width: 100%;
    background-color: black;

}

.searchbar{
    display: flex;
    align-items: center;
}
.input_search{
    height: 40px;
    width: 536px;
    margin-left: 10px;
    border-radius: 40px 0 0 40px;
    font-size: 15px;
    padding-left: 10px;
    border:1px solid hsl(0, 0%, 18.82%);
    background-color: rgba(44, 42, 42, 0.3);
    color: white;
}

.search_icon{
    
    background-color: rgba(44, 42, 42, 0.6);
    height: 40px;
    width: 64px;
    margin-left: 1px;
    border:1px solid hsl(0, 0%, 18.82%);
    border-radius: 0 40px 40px 0;
    cursor: pointer;
    position: relative;
}

.search_icon span{
    position: absolute;
    color: white;
    top: 25%;
    left: 24%;
   
}

.voice{
    background-color: rgba(44, 42, 42, 0.6);
    border-radius: 50%;
    padding: 5px;
    height: 36px;
    width: 36px;
    position: relative;
    cursor: pointer;
    margin-left: 10px;
    
}

.voice span{
    color: white;
    position: absolute;
    top: 24%;
    left: 24%;
}

.voice:hover{
    background-color: rgba(44, 42, 42, 1.0);

}

.create_video{
    margin-right: 15px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    position: relative;
}

.create_video span{
    color: rgb(197, 190, 190);
    font-size: 26px;
    position: absolute;
    top: 19%;
    left: 18%;
}

.create_video:hover{
    background-color: rgba(44, 42, 42, 1.0);
    border-radius: 50%;
}

.notifications{
    margin-right: 15px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    position: relative;
}

.notifications span{
    color: rgb(197, 190, 190);
    font-size: 26px;
    position: absolute;
    top: 19%;
    left: 18%;
}

.notifications:hover{
    background-color: rgba(44, 42, 42, 1.0);
    border-radius: 50%;
}



.nav-sidebar{
    display: block;
    position: fixed;
    background-color: black;
    height: 100%;
}
.nav{
    margin-left: 230px;
}

.nav ul{
    display: flex;
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
    overflow: hidden;
}

.nav-option{
    display: block;
    color: white;
    text-align: center;
    margin: 6px;
    text-decoration: none;
    border: 1px solid none;
    border-radius: 7px;
    padding: 7px;
    background-color: rgba(44, 42, 42, 0.6);
}

.nav-option:hover{
    background-color: rgba(44, 42, 42, 1.0);
    transform: scale(1.0);
    transition: transform .9s;
}

header li {
    float: left;
}


main{
    display: flex;
    margin-top: 90px;
}
.nav-link {
    display: flex;
    align-items: center;
    padding: 12px 25px;
    margin: 15px;
  }
  
 .nav-link span {
    margin-left: 15px;
    color: rgb(216, 214, 214);
  }
  
 .nav-link:hover {
    background-color:rgb(66, 63, 63);
    cursor: pointer;
    border-radius: 10px;
  }
.video-page{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 220px;
    
}

.video{
    width: 328px;
    margin-bottom: 30px;
}

.yt_videos{
    border-radius: 8px;
    box-shadow:  black   0px 0px 10px -2px;
     
}
.yt_videos:hover{
    border-radius: 0px;
    transform: scale(1.01);
    transition: transform .5s;   
}

.video-detail{
    display: flex;
}

.video-title{
    display: flex;
    flex-direction: column;
}
.channel-logo img{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 5px;
}

.video-title{
    line-height: 20px;
    margin-left: 10px;
    margin-top: 5px;
}

.video-title h3{
    margin-bottom: 5px;
}

.video-title a, span{
    color: rgb(99, 97, 97);
    text-decoration: none;
}


